[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
sqlalchemy = {version = "==2.0.*", extras = ["asyncio"]}
pydantic = {extras = ["email"], version = "1.10.7"}
asyncio = "*"
aiosqlite = "*"

[dev-packages]

[requires]
python_version = "3.11"
